@import "../../global.scss";

.contact{
    background-color: lightblue;
    display: flex;

    .font-link {
        font-family: 'Open Sans', sans-serif;
    }
    .font-link2 {
        font-family: 'Chakra Petch', sans-serif;
    }

    @include mobile{
        flex-direction: column;
    }

    .left{
        flex: 1;
        overflow: hidden;

        img{
            height: 100%;
        }
    }

    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            font-size: 25px;
            position: absolute;
        }

        button{
            width: 150px;
            top: 70px;
            position: relative;
            height: 60px;
            color: white;
            background-color: crimson;
            border: none;
            border-radius: 30px;
            font-weight: 700;
            cursor: pointer;
    
            &:focus {
              outline: none;
            }
        }
    }
}