@import "../../global.scss";

.works{
    background-color: rgb(230, 220, 202);
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile{
        flex-direction: column;
        // align-items: center;

    }

    .font-link {
        font-family: 'Open Sans', sans-serif;
    }
    .font-link2 {
        font-family: 'Chakra Petch', sans-serif;
    }

    .left {
        flex: 0.5;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile{
            display: inline-block;
            align-items: center;
            justify-content: center;

        }

        .wave {
            animation-name: wave-animation;  
            animation-duration: 2.5s;        
            animation-iteration-count: infinite;  
            transform-origin: 70% 70%;       
            display: inline-block;
            font-size: 15em;

            @include mobile{
                display: inline-block;
                align-items: left;
                justify-content: left;
                font-size: 12em;
                margin-right: 30px;
            }
        }
        @keyframes wave-animation {
            0% { transform: rotate( 0.0deg) }
           10% { transform: rotate(14.0deg) } 
           20% { transform: rotate(-8.0deg) }
           30% { transform: rotate(14.0deg) }
           40% { transform: rotate(-4.0deg) }
           50% { transform: rotate(10.0deg) }
           60% { transform: rotate( 0.0deg) }  
          100% { transform: rotate( 0.0deg) }
        }
    }

    .right {
        flex: 0.5;
        position: relative;

        @include mobile{
            display: inline-block;
            align-items: center;
            justify-content: center;
            margin-left: -50px;
        }

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 70px;
            padding-bottom: 180px;
            position: relative;
            display: flex;
            flex-direction: column;
            // justify-content:center;

            @include mobile{
                display: inline-block;
                align-items: center;
                justify-content: center;
            }
        }

        h1{
            font-size: 50px;
            position: relative;
            top: 60px;
            margin-bottom: 50px;
            color: crimson;
            align-items: center;
            justify-content: center;
    
    
            @include mobile{
                display: inline-block;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;
            }
        }
        h3 {
            font-size: 20px;
            position: relative;
            top: 20px;
            justify-content: center;
            align-items: center;
            align-items: center;
            margin-bottom: 20px;


            @include mobile{
               
                display: inline-block;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                margin-bottom: 5px;
            }
        }
        h4{
            font-size: 20px;
            position: relative;
            top: 20px;
            position: relative;
            margin-bottom: 20px;
            color: #e68471;
            align-items: center;
            justify-content: center;
    
    
            @include mobile{
               
              
                align-items: center;
                justify-content: center;
                font-size: 15px;

                font-size: 20px;
            }
        }
    }

    
}