@import "../../global.scss";
.intro{
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left {
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            width: 500px;
            height: 700px;
            border-radius:20%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            float: right;
 
            @include mobile{
                align-items: flex-start;
                width: 280px;
                height: 400px;
                position: relative;
                top: -45px
                // float: none;
            }
        } 
    }

    .right {
        flex: 0.5;
        position: relative;

        // @include mobile{
        //     align-items: flex-start;
        //     width: 350px;
        // }

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                align-items: center;
            }
        }

        h1 {
            font-size: 40px;
            margin: 10px 0;

            @include mobile{
                font-size: 35px;
            }
        }
        h2 {
            font-size: 30px;

            @include mobile{
                font-size: 25px;
            }
        }
        h3 {
            font-size: 25px;
            
            span{
                font-size: 25px;
                color: black;

            }

            .cursor-animation {
                content: '|';
                animation: cursor 1.1s infinite step-start;
            }
              
            @keyframes cursor {
                50%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                }
            }
        }

    }  
    a{
        position: absolute;
        bottom: 10px;
        left: 40%;

        img {
            width: 30px;
            animation: arrowBlink 1s infinite;
        }

        @keyframes arrowBlink {
            100% {
              opacity: 0;
            }
        }
    } 
} 